
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
}

#banner {
    background-color: #f2f2f2;
    text-align: center;
}

#services {
    background-color: #e6e6e6;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.foto{
    
    width: 8%;

}
.app{

    width: 30%;
}


.appl{

  width: 38%;
}


.redes {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: 40% 10% 10% 10% 40%;
}